li{ list-style: none;float: left}
.chunk{ width: 1000px; overflow: hidden;}
.Single{ width: 1000px; height: auto; float: left;}
.Single li{ width: 1000px; border-bottom: 1px solid #e4e9e8; float: left; height: 100%;vertical-align: baseline; font-size: 100%}
.Single_nian h4{display: table-cell; vertical-align: middle;width: 200px;font-size: 16px;
    color: #000;
    line-height: 24px;
    text-align: center;
    background: #f2f8f7;margin: 0;
    padding: 0;
    border: 0;
    outline: 0; font-weight: bold}
.introduce{ width: 720px; line-height: 26px; word-wrap: break-word; display: table-cell;
    vertical-align: middle;padding: 14px 40px 14px 40px; line-height: 26px; background: url("../Svg/ene_bg.png") no-repeat;background-position: 28px 24px;}
.introduce div{ width: 720px; word-wrap: break-word; font-size: 14px; color: #484848;}












































































