.age{ width: 1000px;
    overflow: hidden;}
.age_firm{ width: 1000px; height: 207px; float: left}
.age_connect{ width:1000px; font-family: "微软雅黑"; font-size: 14px; margin-top: 39px;}
.age_character{ width: 1000px; font-size: 30px; font-family: "微软雅黑"; font-weight: bold;text-align: center; margin-top: 49px;}
.age_joint{ width: 1000px; margin-top: 50px; margin-bottom: 26px; font-size: 22px; font-family: "微软雅黑";
    color: #006d5d; font-weight: bold; float: left; }



























